<ion-header>
  <ion-navbar>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <form [formGroup]="form">
    <ion-item>
      <ion-label stacked>Nome do evento</ion-label>
      <ion-input type="text" formControlName="nome"></ion-input>
    </ion-item>

    <ion-item *ngIf="!form.controls.nome.valid && (form.controls.nome.dirty || form.controls.nome.touched)" color="danger">
      <div [hidden]="!form.controls.nome.errors.required">
        O campo é obrigatório
      </div>
    </ion-item>

    <ion-list radio-group formControlName="local"> 
      <ion-list-header>
        Local do Evento
      </ion-list-header>

      <ion-item>
        <ion-label>Salão de festas 1</ion-label>
        <ion-radio value="salao1"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Churrasqueira</ion-label>
        <ion-radio value="churrasqueira"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>oi</ion-label>
        <ion-radio value="oi"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>teste</ion-label>
        <ion-radio value="teste"></ion-radio>
      </ion-item>
    </ion-list>
    <!-- <ion-item>
      <ion-label stacked>Local do evento</ion-label>
      <ion-input type="text" formControlName="local"></ion-input>
    </ion-item> -->

    <ion-item *ngIf="!form.controls.local.valid && (form.controls.local.dirty || form.controls.local.touched)" color="danger">
      <div [hidden]="!form.controls.local.errors.required">
        Por favor, escolha 1 local.
      </div>
    </ion-item>

    <ion-item>
      <ion-label stacked>Terreno</ion-label>
      <ion-input type="text" formControlName="terreno"></ion-input>
    </ion-item>

    <ion-item *ngIf="!form.controls.terreno.valid && (form.controls.terreno.dirty || form.controls.terreno.touched)" color="danger">
      <div [hidden]="!form.controls.terreno.errors.required">
        O campo é obrigatório
      </div>
    </ion-item>

    <ion-item>
      <ion-label stacked>Data de inicio do evento</ion-label>
      <ion-datetime formControlName="dataInicio" displayFormat="DD/MM/YYYY HH:mm"></ion-datetime>
    </ion-item>

    <ion-item *ngIf="!form.controls.dataInicio.valid && (form.controls.dataInicio.dirty || form.controls.dataInicio.touched)" color="danger">
      <div [hidden]="!form.controls.dataInicio.errors.required">
        O campo é obrigatório
      </div>
    </ion-item>

    <ion-item>
      <ion-label stacked>Data de final do evento</ion-label>
      <ion-datetime formControlName="dataFinal" displayFormat="DD/MM/YYYY HH:mm"></ion-datetime>
    </ion-item>

    <ion-item *ngIf="!form.controls.dataFinal.valid && (form.controls.dataFinal.dirty || form.controls.dataFinal.touched)" color="danger">
      <div [hidden]="!form.controls.dataFinal.errors.required">
        O campo é obrigatório
      </div>
    </ion-item>
    <div padding>
      <button ion-button block type="submit" [disabled]="!form.valid" (click)="enviar()">Salvar evento</button>
    </div>
  </form>
</ion-content>
